@import url(header.css);
/* O root é responsável por armazenar variáveis 
personalizadas, facilitando 
a manutenção do código. */

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabeçalho{
    background-color: var(--branco);
}